

<div class="row d-flex align-items-start justify-content-center g-5 p-5  ">

    <div class=" col-sm-12  col-md-5 col-lg-8 formDiv p-5">
        <h1 class="mb-5 text-center">Araba kayıt sayfası </h1>
        <div class=" d-flex justify-content-center mt-5   " >

            <img [src]=imgUrl>
          
        </div>
        <form [formGroup]="carAddForm" class="p-5" >
            <div class="row g-3 ">
        
               <div class="col-md-12 mb-5">
                    <label for="modelId" class="form-label">Model</label>
                    <select class="form-select custom-form-input " id="modelId" formControlName="modelId">
                        <option value="">Choose...</option>
                        <option [value]="model.id" *ngFor="let model of models">{{model.brandName}}**{{model.name}}</option>
                    </select>
                    <div *ngIf="carAddForm.get('modelId').invalid && carAddForm.get('modelId').touched" class="mt-2 alert alert-danger">
                        Please select a valid model.
                    </div>
                </div>  
        
                <div class="col-sm-4 mt-5">
                    <label for="plate" class="form-label">Plaka No</label>
                    <input type="text" class="form-control custom-form-input" id="plate" formControlName="plate">
                     <div *ngIf="carAddForm.get('plate').invalid && carAddForm.get('plate').touched" class="mt-2 alert alert-danger">
                        Please select a valid  plate number .
                    </div> 
                </div>
        
         
        
                <div class="col-sm-4 mt-5">
                    <label for="dailyPrice" class="form-label">Günlük fiyat</label>
                    <input type="number" class="form-control custom-form-input" id="dailyPrice" formControlName="dailyPrice">
                    <div *ngIf="carAddForm.get('dailyPrice').invalid && carAddForm.get('dailyPrice').touched" class="mt-2 alert alert-danger">
                       Please select a valid  daily price.
                    </div>
                </div>
        
                <div class="col-sm-4 mt-5">
                    <label for="modelYear" class="form-label">Model yıl</label>
                    <input type="number" class="form-control custom-form-input" id="modelYear" formControlName="modelYear">
                    <div *ngIf="carAddForm.get('modelYear').invalid && carAddForm.get('modelYear').touched" class="mt-2 alert alert-danger">
                        Please select a valid  model year.
                    </div>
                </div>

                <div class="col-sm-3 mt-5 mb-3">
                    <h4 class="mb-3">Durum</h4>
                    <div class="my-3">
                        <div class="form-check">
                            <input id="available" formControlName="state" type="radio" class="form-check-input" value="1">
                            <label class="form-check-label" for="available">Mevcut</label>
                        </div>
                        <div class="form-check">
                            <input id="rented" formControlName="state" type="radio" class="form-check-input" value="2">
                            <label class="form-check-label" for="rented">Kiralık</label>
                        </div>
                        <div class="form-check">
                            <input id="maintence" formControlName="state" type="radio" class="form-check-input" value="3">
                            <label class="form-check-label" for="maintence">Bakımda</label>
                        </div>
                    </div>
                </div> 
        
                <div class="col-sm-9 mt-5 mb-5">
                    <label for="imgUrl" class="form-label">Img Url</label>
                    <input type="text" class="form-control custom-form-input" id="imgUrl" formControlName="imgUrl" [(ngModel)]="imgUrl">
                    <div *ngIf="carAddForm.get('imgUrl').dirty && carAddForm.get('imgUrl').touched" class="mt-2 alert alert-danger">
                        Please select a valid imgUrl.
                    </div>
                </div>
            </div>
        <div class="btnCarAddDiv">
            <button class="w-75 carAddBtn" (click)="addToCar()" >Araba Ekle</button>
        </div>
             
        </form>
        
    </div>
</div>